body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('/img/loop.mp4') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Fondo de video */
.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.video-background .contenido {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 30vh;
}

/* Contenedor principal */
.contenedor {
  background-color: rgba(34, 29, 29, 0.2);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  backdrop-filter: blur(10px);
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.contenedor h2 {
  color: white;
  margin-bottom: 20px;
}

.contenedor a {
  font-size: smaller;
  text-decoration: none;
  color: white;
}

/* Inputs con grupo e íconos */
.input-group {
  position: relative;
  margin: 20px 0;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.input-group input {
  width: 100%;
  padding: 15px;
  border: none;
  background: transparent;
  color: white;
  font-size: 18px;
  outline: none;
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

/* Botón */
button {
  background: #28a745;
  border: none;
  padding: 15px;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;
}

button:hover {
  background: #218838;
}

/* Opciones y texto */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
}



/* Estilo para botones de rol */
.role-button {
  display: block;
  width: 250px;
  padding: 20px;
  margin: 15px auto;
  font-size: 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.role-button:hover {
  background-color: #0056b3;
}

/* Contenedor rol */
.contenedor-rol {
  background-color: rgba(34, 29, 29, 0.2);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  backdrop-filter: blur(10px);
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.contenedor-rol h2 {
  color: white;
  margin-bottom: 25px;
}

.contenedor-rol a {
  font-size: smaller;
  text-decoration: none;
  color: white;
}